/* VARIBLES */
:root {
    --main-body-color: #edf3f8;
    --main-white-color: #fff;
    --main-balck-color: #000;
    --main-dark-pink: #BA4270;
    --main-white-water-color: #FBFCFE;
    --main-white-water-color-two: #E1E1E1;
    --main-san-juan-color: #36536B;
    --main-mirage-blue-color: #1B262F;
    --main-charm-color: #DA6D97;
    --main-white-san-blue: #6C8294;
  }