.about-ready {
    padding-bottom: 80px;
}

.about-ready__title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.246154px;
    color: #36536B;
    margin: 0;
    margin-bottom: 32px;
}

.about-ready__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-ready__inp {
    width: 327px;
    border-color: transparent;
    background-color: #FBFCFE;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
    padding: 15px 27px;
    margin-bottom: 16px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #36536B;
    
    &::placeholder {
        font-family: 'Public Sans';
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #36536B;
        opacity: 0.5;
    }
}

.about-ready__inp:not(:placeholder-shown):not(:focus):invalid {
    border-color: #f00;
    color: #f00;
    opacity: 0.5;
} 

.about-ready__btn {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.115385px;
    color: #FBFCFE;
    padding: 16px 100px;
    border: none;
    background: #BA4270;
    border-radius: 24px;
    transition: .4s;
    
    &:active {
        background: #DA6D97;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    }
}

@include mobile-first(500px) {
    .about-ready__inp {
        width: 427px;
    }
    
    .about-ready__btn {
        width: 427px;
    }
}

@include mobile-first(700px) {
    .about-ready__title {
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369231px;
        margin-bottom: 40px;
    }
    
    .about-ready__form {
        position: relative;
    }
    
    .about-ready__inp {
        position: relative;
        width: 445px;
    }
    
    .about-ready__btn {
        position: absolute;
        top: 2px;
        left: calc(58%);
        width: 173px;
        padding: 15px 25px;
    }
}

@include mobile-first(700px) {
    .about-ready__inp {
        width: 600px;
    }
    
    .about-ready__btn {
        left: calc(70%);
    }
}

@include mobile-first(1024px) {
    .about-ready__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }
    
    .about-ready__inp {
        width: 435px;
    }
    
    .about-ready__btn {
        left: calc(60%);
    }
}